.containerHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.containerHome h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.containerHome h1 span {
    color: #FFE779;
    padding: 0 .2em;
    background-color: #22272E;
    border-radius: 10px;
}

.containerHome p {
    color: #7B7B7B;
    margin-bottom: 1em;
}

.containerHome img {
    width: 1000px;
    margin: 0 auto;
}