.footer {
    background-color: #252525;
    color: #FFFFFF;
    padding: 3em;
    text-align: center;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li {
    margin: 0 1em;
}

.socialList li:hover {
    color: #FFBB33;
    transition: 1s all;
}

.socialList svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyRight {
    margin-top: 2em;
}

.copyRight span {
    font-weight: bold;
    color: #FFBB33;
}